<!DOCTYPE html>
<html lang="en">
  <head>
    <h1>Ceo's</h1>
  </head>
  <body>
   <title><%= title %> </title>
   <a href="/">Home</a>
   <p><% db.forEach((ceo) => { %>
    <h2><%= ceo.name %> </h2>    
    <a href="/ceo-details/<%= ceo.id %> ">View Item</a>
<% }); %></p>
    
    
    
  </body>
</html>